apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=false"
      - "--api.insecure=false"
      - "--log.level=DEBUG"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
